@mixin grad-background ($color,$trans) {
	background-color: rgba(#265673,$trans);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, lighten(rgba($color,$trans), 20%)), color-stop(50%, lighten(rgba($color,$trans), 10%)), color-stop(51%, rgba($color,$trans)), color-stop(100%, darken(rgba($color,$trans), 5%)));
	background-image: -webkit-linear-gradient(top, lighten(rgba($color,$trans), 20%),lighten(rgba($color,$trans), 10%) 50%,rgba($color,$trans) 51%,darken(rgba($color,$trans),5%));
	background-image: linear-gradient(top, lighten(rgba($color,$trans),20%),lighten(rgba($color,$trans),10%) 50%,rgba($color,$trans) 51%,darken(rgba($color,$trans), 5%));
}

@mixin grad-field {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e2ebf1), color-stop(100%,#a5acb0));
	background: -webkit-linear-gradient(top, #e2ebf1 1%,#a5acb0 100%);
	border-radius: 5px;
	box-shadow: inset 0px 0px 8px #9ca3a8;
	min-height: 0;
	color: #657580;
	input {
		color: $main-font-color;
	}
	input::-webkit-input-placeholder { 
		color: #657580;
		font-size: 1em;
	}
}

@mixin grad-button {
	@include grad-background($base-color,0.5);
	color: #FFF;
	text-shadow: -1px -1px 1px #637078;
	font-size: 1.2em;
	display: inline-block;
	border: none;
}

@import 'sencha-touch/default/all';
@import 'springboard';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;


// Your custom code goes here...

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body.x-desktop {
	
}
input, select, textarea {
	color: #6e6e6e;
}

.logo {
	text-align: center;
	font-size: 2.8em;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	color: $logo-color;
	font-weight: bolder;
	text-shadow: 3px 3px 3px #000;
	span {
		font-weight: bold;
	}
}

.login-panel {
	text-align: center;
	.x-form-fieldset {
		margin: 0;
		.x-form-fieldset-inner {
			border: none;
			background: none;
		}
		.x-field {
			border-bottom: none;
			margin-bottom: 0.7em;
			border-radius: 5px;
			box-shadow: inset 0px 2px 4px #000;
			min-height: 0;
			color: #657580;
			background: #FFF;
			input {
				min-height: 2.3em;
			}
		}
		.x-field:last-child {
			border-radius: 5px;
		}
	}
	.x-button-submit {
		color: #FFF;
		font-size: 1.2em;
		display: inline-block;
		border: none;
		width: 70%;
		background: $action-button-background;
		box-shadow: 0px 1px 4px #000;
	}	
}

.x-toolbar-dark {
	@include grad-background(#000, 0.6);
	.x-title {
		color: $toolbar-font-color;
	}

}

.x-tabbar-dark {
	&.x-docked-bottom {
		border-top: 0px;
		box-shadow: 0px -2px 5px #000;
		font-size: 1.3em;
		height: 2.25em;
		.x-tab {
			min-width: 25%;
			border-radius: 0px;
			.x-button-icon {
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(151, 151, 151, 1)), color-stop(86%,rgba(255, 255, 255, 1)));
				box-shadow: inset 0px 1px 2px #000;
				height: 1.45em;
			}
			.x-button-label {
				font-size: 0.45em;
			}
		}
		.x-tab-active {
			background: rgba(0,0,0,0.1);
			box-shadow: none;
			.x-button-icon {
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(246, 246, 182, 1)), color-stop(86%,rgba(253, 187, 20, 1)));
			}
			.x-button-label {
				color: rgba(253, 187, 20, 1)
			}	
		}
		
	}
	background: $tabbar-background;

	.x-tab {
		color: $tab-color;
	}
}
.x-list {
	background: none;
}

.x-list-normal { 
	
	.x-list-container {
		padding: $cont-padding; 

		.x-list-item {

			&.x-item-selected {
				.x-list-item-label {
					@include grad-background($base-color,0.5);
				}
			}
			.x-list-item-label {
				background: #FFF;
				border-top: none;
				border-left: 1px solid $cont-border-color;
				border-right: 1px solid $cont-border-color;
				border-bottom: 1px solid $cont-border-color;
				font-size: 0.7em;
				color: rgba(51,51,51,1);
				padding: 0.5em 2.3em 0.5em 0.5em;
				h3 {
					font-size: 1.4em;
					color: rgba(0,98,172,1);
					font-weight: bold;
					padding-bottom: 0.6em;
				}
				span {
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			&.x-list-header-item {
				.x-list-header {
					background: none;
					border: none;
					color: $header-font-color;
					padding: $header-padding;
					font-size: $header-font-size;
				}
				.x-list-item-label {
					border-top: 1px solid $cont-border-color;
					border-radius: $cont-radius $cont-radius 0px 0px;
				}
			}
			&.x-list-footer-item {
				.x-list-item-label {
					border-radius: 0px 0px $cont-radius $cont-radius;
				}
			}
			&:first-of-type {
				.x-list-item-label {
					border-radius: $cont-radius $cont-radius 0px 0px;
					border-top: 1px solid $cont-border-color;
				}
			}
			&:last-of-type {
				.x-list-item-label {
					border-radius: 0px 0px $cont-radius $cont-radius;
				}
			}
		}
	}
	
}

.ticketslist {
	&.x-list {
		.x-list-disclosure {
			bottom: 0.9em;
		}
	}
	&.approvalslist {
		&.x-list {
			.x-list-disclosure {
				background: #bbb;
				-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
				bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
				bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
				eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
				MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
				dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
				dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
				IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
				ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
				cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
				SUQ9InhtcC5paWQ6NURBNzdCMzdENTdEMTFFMThCQUM5N0NCOTFBREM2MjYiIHhtcE1NOkRvY3Vt
				ZW50SUQ9InhtcC5kaWQ6NURBNzdCMzhENTdEMTFFMThCQUM5N0NCOTFBREM2MjYiPiA8eG1wTU06
				RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1REE3N0IzNUQ1N0QxMUUxOEJB
				Qzk3Q0I5MUFEQzYyNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1REE3N0IzNkQ1N0QxMUUx
				OEJBQzk3Q0I5MUFEQzYyNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
				bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoCyV00AAAI3SURBVHja7Ni7S8NAHAfwS+PbUlusiuIm
				+AAdxEVEQShSKKL4whcogg8qiIsgtEltm13dBJdSoeqiu4OLLg7+A/4DxUUFtYrYNvYqkZim2S4Q
				/QaONr0S8snvd7+7HCfLMvlPBwcwwAADDDDAAAMMMMAAAwwwwAADDDDABodybVEU4++f2YVU6o24
				nfYjSZIWDW+K4wjTm2LVstksCQaD8QGPl8rzTQxH7gKBQCyTyeT7lU+l0XOW92RjnUJPL28L15cX
				P+dSeKeVLy3rC4VCCW00TRleLJ9mOp0mJaVlP9FVt6VVv0yjr42upSPM8zzxjY7r9sUOD4itpKKX
				jm8zi5aNdfZ0tbWcuhuadPuliNhqOppl+igFKZe6iZGJad3Upm3Zv5FPbzNS2hSwUq1HJmeKosUd
				6Y4+mD8D/kYLJ3WNzQboSB5tWbAaq4p0wijSNL0tPQ8XFCpJms8VsmOHq1a3P5lMWrdKF1tmXt3c
				zj0/PRT8x+muJ91dHeeWrtLqJoaj9/Yal24q+0YnaKU+s3TRUq+e6Nitdjh1scNjU39jWlK/QPT0
				9utic2ksBwXhxKylJXOsGIk+VtkdxdNYEM7MXEszvTiNbHlltdGYTWixVn89tH+8pwp+dNFq3Nl+
				SqcopXozfek3cVp63dza/vVDLrJkfW2FYme1UPqdNZz5Fg+ddzkb37C7t+8d9AzRyBZs8Wg3AVii
				sYkHMMAAAwwwwAADDDDAAAMMMMAAAwyw1Y4vAQYAnwrtqc96CxoAAAAASUVORK5CYII=') no-repeat;
				background: $toolbar-background;
			}
		}
	}
	&.recentslist {
		&.x-list {
			.x-list-disclosure {
				-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAoCAYAAABXRRJPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
				bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
				bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
				eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
				MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
				dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
				dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
				IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
				ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
				cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
				SUQ9InhtcC5paWQ6RTE4NTZBMzRFMTU2MTFFMTg0MjJEQjQ3NTBENDY1QUMiIHhtcE1NOkRvY3Vt
				ZW50SUQ9InhtcC5kaWQ6RTE4NTZBMzVFMTU2MTFFMTg0MjJEQjQ3NTBENDY1QUMiPiA8eG1wTU06
				RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFMTg1NkEzMkUxNTYxMUUxODQy
				MkRCNDc1MEQ0NjVBQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFMTg1NkEzM0UxNTYxMUUx
				ODQyMkRCNDc1MEQ0NjVBQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
				bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpgaMnQAAAFnSURBVHja3JmxDoIwEEABHVkZWVnVjVFH
				v4HVkZXVb2B09R/0D4wjo7Ob+gkOpkICCWmkPVrau9rkNqjv2bv2rJ7n5sjruNXB6ti7An1sgflI
				GGOkwcsB8CbC7iGKEokAvIkZ/wIliVgCXwy9SEEiksBLCbElLhL4HWQSLIkQ8O3H0MkwJArd9Pkl
				MbcoAAH0VSYOXBewJWFUwIaEcQHTEhCBSWoyQBRY1vGh2rgxQOSTfZjknAjbtmCKllnrLFCVSKEN
				WG8sbAuIJDIBQKqZRlsbEgcAyFNRwEiTw0uUI2AYcOWMCvAS2UiBPhjkubVpiVhRgGGmES/xNiwQ
				2ZDoRuXaKoi22IcrArLDbuWShKwN1gHxbUkEAJCr9yejpLQj6dx2nCnVgs6VzR0gkNmWUCk+RqGg
				xxT2WMiXS4W+8ST/G1BPJ1Fa+RgSOrcdPPDJ1fOjwthWdbdY0W9rNIlgwhVBG18BBgD79KRs1zT1
				/gAAAABJRU5ErkJggg==') no-repeat;

				background: #2e9b00;
			}
		}
	}
	
}

.x-dataview-inner {
	padding: 0.5em;
	.x-data-item {
		border-bottom: 1px solid #5e5e5e;
	}
	.x-data-item:last-of-type {
		border-bottom: none;
	}
	.x-data-item:first-of-type .x-field { 
		border-radius: 6px 6px 0px 0px;
		.x-form-label {
			border-radius: 6px 0px 0px 0px;
		}
	}
	.x-data-item:last-of-type .x-field {
		border-radius: 0px 0px 6px 6px;
		.x-form-label {
			border-radius: 0px 0px 0px 6px;
		}
	}
	.x-form-label {
		line-height: 2.2em;
		background: #a6a6a6;
		color: #232323;
	}
	.x-toggle { 
		position: absolute;
		right: 1em;
	}
}
.x-form-fieldset {
	padding: $cont-padding;
	border-radius: $details-form-radius;
	.x-form-fieldset-title {
		padding: $header-padding;
		color: $header-font-color;
		margin: 0;
		font-size: $header-font-size;
		text-shadow: none;
	}
	.x-form-fieldset-inner {
		border-radius: $details-form-radius;
	}
	.x-field {
		border-bottom: 1px solid #888;
	}

	.x-field:first-child {
		border-radius: $details-form-radius $details-form-radius 0px 0px;
		overflow: hidden;
	}
	.x-field:last-child {
		border-radius: 0px 0px $details-form-radius $details-form-radius;
		overflow: hidden;		
	}
	.x-form-label {
		border-top: none;
	}
}

strong { font-weight: bold }

.x-navigation-bar {
	.x-button {
		.x-button-icon {
			width: 1.1em;
			height: 1.2em;
			background: #FFF;
			-webkit-mask-size: 100%;
			-webkit-mask-position: 50% 50%;
		}
	}	
}
.approvaldetails {
	padding: 0 0.6em 0.6em 0.6em;
	font-size: 0.7em;
	.details-head {
		font-size: 1.4em;
		font-weight: bold;
		color: $second-font-color;
		line-height: 2em;
	}

	.x-form-fieldset {
		margin-bottom: .9em;
		.x-field {
			max-height: 2.2em;
			min-height: 0em;
			.x-input-el {
				min-height: 0em;
			}
			&.note {
				max-height: 5em;
			}
		}
		.total input {
			color: $base-color;
			font-weight: bold;
		}
	}

	.detailsform {
		font-size: 1em;
		.x-form-label {
			font-size: 1.3em;
			padding: 0.3em 0.5em;
			background: #a6a6a6;
			color: #252525;
		}
	}

	.notes-head {
		width: 100%;
		background: $toolbar-background;
		padding: .3em .6em;
		border-radius: $details-form-radius $details-form-radius 0 0;
		h2 {
			font-weight: bold;
			font-size: .95em;
			color: #FFF;
		}
	}
	.approvalnotes {
		margin-bottom: .5em;
		&.x-list {
			.x-list-item {
				.x-list-item-label {
					h3 {
						padding-bottom: .3em;
					}
					span {
						font-size: 1.2em;
					}
				}
			}
			.x-list-item:last-of-type {
				.x-list-item-label {
					border-radius: 0px 0px 6px 6px;

				}
			}
		}
	}

	.x-button {
		margin: .2em;
		font-size: 1.6em;
	}
}


.approval-buttons {
	padding-top: 0.4em;
}

.bubble { 
	animation: bubbleAnim 5s;
	background: $base-color !important; position: absolute !important; bottom: 20px; left: 10%; right: 10%; height: 100px; padding: 2px !important;
	.close-button {	position: absolute; top: 5px; right: 5px; color: #000; 
		span { width: auto; height: auto; margin-left: 0px }
	}
	p { text-align: center; font-size: 0.7em; display: inline-block; }
	.app-icon { background-position: center; }
	.instructions { -webkit-box-align: center;
		img { position: relative; top: 5px; } 
	}
	.btn-wrap { padding: 5px }
	&.ipad { bottom: auto; top: 20px; left: 80px; right: auto; }
 }

.x-panel.x-floating.top-popup {
	width: 40%;
	padding: 10px;
	background-color: rgba(0,0,0,0.8);
	font-size: 0.7em;
	.x-panel-inner {
		background: none;
	}
	h2 {
		color: $second-font-color;
		font-size: 1em;
		font-weight: bold;
	}
	.arrow-up {
		right: 80px;
		left: auto;
		.border {
			border-bottom: 20px solid rgba(0,0,0,0.8);
			top: -10px;
		}
	}
	
}

 

 .arrow-down {
	position: absolute;
	bottom: 0px;
	left: 45%;
	
	.border {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;	
		border-top: 20px solid $base-color;
		position: absolute;
		top: 0;
		left: 0;
	}
	.arrow {
		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;	
		border-top: 16px solid #FFF;
		position: absolute;
		top: 0px;
		left: 4px;
	}
}

.arrow-up {
	position: absolute;
	top: -20px;
	left: 60px;
	
	.border {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;	
		border-bottom: 20px solid $base-color;
		position: absolute;
		top: 0;
		left: 0;
	}
	.arrow {
		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;	
		border-bottom: 16px solid #FFF;
		position: absolute;
		top: 4px;
		left: 4px;
	}
}

// Custom icons 

.x-button-icon {
	&.home1 {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA2CAYAAACfkiopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6MTUxMjkwNEVFMjA1MTFFMTg4QjQ5OEE2QkI5RjU0NkQiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6MTUxMjkwNEZFMjA1MTFFMTg4QjQ5OEE2QkI5RjU0NkQiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNTEyOTA0Q0UyMDUxMUUxODhC
		NDk4QTZCQjlGNTQ2RCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNTEyOTA0REUyMDUxMUUx
		ODhCNDk4QTZCQjlGNTQ2RCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsbGLT4AAAgTSURBVHja5JpraFNnGMdPLm2aJq1NamOv
		rq1fHBZHnUoZTMauDMfAjWKHOBRxUKilXdUKbq29CJtarFDnpB9mtUjBTaaDfRgOtu7DOgSlDKYw
		Wb31bm/2krZpe/b/H/KGNKZtLqfHdAu8nJyTNyfv73me97md6GRZlv6PL1244PX19QHP5W/NzMxI
		TqdTmpqa2jE3N7ctOjq6NiYmZgBHSa/XSzqdLqjfLykpCWndRq0kTGjASk+fPpUGBwfvjIyMrJ+d
		nZWsVmuJzWZ7LSEh4Vez2SwZDIag4SMWHJqVJicnpeHhYXN3d/dEZ2cn4RXtx8fHSykpKb+kpqbu
		TUxMvGCxWCSj0bjs8MsOTq1S0wBNAnDfgwcPpK6uLgkaVwRC0PHxcc75xuVyvZyUlHQAViDR9JcT
		3ricpk0w7mdAr3/8+PGd+/fvS9Q2NK9YgDD/6elpCdB8X4T3m9asWfMmLMFpMpmUfb9iwAlETRN6
		YGDg9UePHv0sND00NKTACqdKaO57zud7fPYKjmPJyckZdru9i/Dc9xEPLjw3zffJkyeF0PRXDx8+
		VKCpacJ5RxIxf2xsTDlS85ijx7ETFvMi4O/S6YXi8TUDJwTBCNHf338G0MWE7u3tVfa0L7Q/C4Gw
		FHieY9xhyIPT+01tj29UGxqAJoBeh3m/DXCpr69PEcRC0P7geaR/cMO34v2Hq1evvhobG6savFFN
		zw3oJISrW4BOpxOD1hWTpwkHmigJAXJbCGFgfId7HIHH/5IeX41wZ1QDmh4annsd9vE9mraI00J7
		wWaHXtbjgYf5f4GR63A4Chj7ww13YYO7PfdWmPUfDFfQuMdz01xDTYm94QlOq8H5TsBvxXn2qlWr
		JHr85waOPfwuNPwjob09N6HV8Bt0dKOjowKcIwvXZJwnw+P3PhfwoqKij6HpJsZoatpfuFIzPFKY
		FAQHrvXgfAOm/KVpdVZYWFgBJ1aFoUAzCVEb2vfFWE7zRkEjpaWlSWvXrpUyMjLeQoV4QxPw/fv3
		XwbwR4RmjA4kXKlWR8Oh0bERHoWNAp+enr63oaHhwrKC79mz508A5zBGM1yJjEvLhoaAp4NDakut
		c9SeO3fuc9XBy8vLo+DEJhGu9AxX8OTSxMSE5tC+8IzrKGqodWr/h8bGxvdVAz948GACYIeE5xYx
		OpxwpRY8kxnCI7MT+76/qanJETZ4WVlZFsz6H1FSMkaLkjIS+nWEZxrLdBbhTYHPzMyUmpubdSGD
		l5aW5gH6d29o75IyYhqHgKfHj4mJkWw2mwKflZXFY+ypU6ecQYEXFxfTa1/2jtGRCO0b7ghPj889
		T83jmF1XV9cREDhi9GfQdA3z7p6enkVLyohrG0P7Al6YPY7vINb/tCg4YnQLoHeKGM10caVAe8OL
		RCclJUWJ9YA/cPbs2Qa/4IjR9wC8jjGaDQGRI6/Ehw7esZ7hjrEeZt94/vz5T+aBA3q0o6PDKqAZ
		rlYqtDd8VFSUFBcXJ6GWVzQP0/8W8PmeIgUOzEzPzY5JJMRotQocFjSimem2gh3zqjOmnhyM0Zz0
		X3mJ6o5ZJrcuhxIBxASYxE6ahXc3UyQHvM4MSavHO+EkMgutlVy8hs9e8EhEjI0bN5YkJibK+LKM
		iTI8owznIOPaVnjIFp7jZrT/iBuAkpG9yVjndowmi8UiA9LDAQcnb968+SXBOq8R0d7eXp+Tk5OO
		m5QxhPHxTnx8fBYE0QMTSeIcmk2wW4HSphaEJvw9HRFdVXeTIWj/wnuzBY3MLQfrrcOW7ceay3g/
		prOo4t67efNmO7JRw+nTp2c9Xr2ysjKuqqpK2QBbtmz5AODbIYh94sa5ubk34PzeYNrKhQUbViDE
		uxDiBiwuAQt7RnL4PRP2YR+SJZn7kQsO5sWkhYUKavRy/M4ZChH3SkW2+TWKmCNtbW23/baeCF1R
		UWGprq4eh2SuFhQUfC8+2717txULjg71OZa7cWBDONFjcYPUjK8DIizq+wymyKK9FGKlNoqkJfbi
		xYtDuNyRn5//3pUrV5652TwSQmPE8n1LS4unW3jp0qUxXRhejeaNBekdDocRiYQOsfSZwfQSvsQg
		HhqE+oI12Qh99OhRC88F9PHjx80LgvMFrU+cPHkyDsPsK9FwwN3mPgkzlLEP5w1YA50oPx8O9WGB
		2LLCKgE6zuOJEycUDgjCuWSX9dChQ6P+fFQ4sRSD3zcBaspXkF5byKZ2mDt8+LDfslSvVZwNxEtr
		mSnqg114uItb6vtawQejccNyWoPWrSzNTH05BeebC6kNrg/nAaAWZux2mK4VY+oqQvM4oyq4CtrS
		awGPMRtpe3xOo9+Ziihwjfa3+qauwh43amTq0xGjca3isxtcdYcTssbc7ayoxRbl/kyvArhRVXBU
		V7d8e3KBVmasuEwm03Ucp/yVnEJT+HwklP+ti36bu8vTq6oWUTZ+ihIy0+VyvRrMMzQ+0UCd/Te+
		W7LYH/QoVHw+iN/ZZLfbb3FOoC0uCop/AUN5uw+lbauq4A6HY+TatWvb8vLyUpxOp3GxfzUJoQDS
		AA26AN6ZnJwcxcY+ARfq0rAmT0tLuw3oGEDYvbows0v126xWq7O1tXW0tLTUrCo4Fs65rra2tm7v
		67t27VrUBAnKpiWg9OJP+Au1jaA1StMIAU1BuN2B9Paam5vnnUNgBlXBa2pqnLW1tWYsZvLYsWMe
		O8/Ozl5qj+sAZYIAJhfStjBXNgwxdw7ai4KZu4Lp5lZXV+vx3djKysqxQOb/K8AA3yqG8JqBCgsA
		AAAASUVORK5CYII=') no-repeat;
	}

	&.recents {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA2CAYAAACfkiopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6OUMyRTA0QTVFMTVCMTFFMTk3OUJENThFOEQ5RkE1ODciIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6OUMyRTA0QTZFMTVCMTFFMTk3OUJENThFOEQ5RkE1ODciPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QzJFMDRBM0UxNUIxMUUxOTc5
		QkQ1OEU4RDlGQTU4NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QzJFMDRBNEUxNUIxMUUx
		OTc5QkQ1OEU4RDlGQTU4NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pnrsg+kAAATVSURBVHja5FtNSFRRFH5vpjfjjDaKIv5Q
		UljZH7kIIgw34caFECFIBCLuCzcRhLRpI9FG3EQQEYEI/QgSUoEtCmmbhNXKCCMqErJIZ5xyOoc5
		Dx6Pd++7v/7QgY8Zp3d/vnfvPffc757cUqnk/I/m6hJ3XVfmcQ+QBhwCHKTfpgFLqu0r9x8L6kCA
		aDNgGJvi4LYOcaV+WyLeALgE+BtDOIia7Uy8ngiXFDC4XYn3KxL2sWu7EccOv9AkfRNQt5HEtbw6
		ePQO+JiVLPYV8BPwEvAB8Ih+WwGsxpS9DOgMPJcI/Jv/HV/gHPC6YGeqOE6PxIjepw7XAvYAmuh7
		LtDhhMgAi8LKVAfrEmg8DzgHqAS00P7NsgrRmS2Ax1bWONhJgcYv0gjWh1cH7e0pIpsVHGlR4jM0
		k5JG1zis6QTtzTzDiOwHrVu0JJF1BdawCHHesoUuuh59Lxpb4+SMWG8bX0g1rVufcBWj2W7APGAB
		MGBwxBGtRqc62FBMg2gZ+qzkdD4qwJkwSPyG0e0MphDvwRw5syI5sYLCdHV1p3rAcI2va0912o5Y
		b/g4Oaik5qjJll3k1PVee6rTCLIaGJMYLZPE5+nvh5z66nSJ3+IFCYqeWYf4L8H6nusSZ1U8tAnE
		+wIxvR8QXVGJ3nTC0h0SEZcp4uFIr4KCIVadA6rEnzIqHBVUYGwQT0VITzOMOudUibM6iXJSdhOI
		ZyJ+w5hhH6feJpPEqzdxxKPExlpOvaOmiH/Ht7zFiFdw6l0yRfwOBixbjLjHWecrUdwSCm3NxYaD
		atarQb5Iio6wqRBfcuwYhsWvIs7worZsm7jr2DMUOb4BrimULdgmXuPYN//mpV2iTK1t4sc0SX2S
		ePY1BVEi1i7rGGS9+pLE3VmUpRV1+Dpe/znlVkwGMFUaxINeXIb4Vc52luOUe2CSeIMG8VRInuoT
		JD7JId7MKXdKhfhCnK6laJnQi0gI3L0Nc4iPMcqsYVSnQjz2rKthXvikRb8NMtpMc4izXtYIljMt
		RPQaSiPx6GwfPm+fBdwFnA8JD2Hrj1GIMiojvh/w0bD0xHsBPMEyKxn74yVkm+p5vIrIsyqfcMyb
		FxEdeoxnpzh9wxudnI7m1kZOgtVAp8UIrpITZJ2OcYZtJuTlXEwjLc7G2t6Y/lSxnJrUFRJYI53D
		eY0d3SDS7TH9GMd93cjdGXndJoEgo8cyaZFkBBwkz8b9eFzD045iPgvH6jkKSxCe8eQfirZw5A8L
		hpgjHG8s4+GvC7aX5u3bWiNO+yx62i5H/HDxRGEJ4PPPJNo4QYPiWc16cl0Xye8GvJMsihkRbwGf
		AW9INUmTw2okB5mWrPMA3ZwWZCIqaeKYDoJiI6ZcoMgXc29u0woU2nqxaR+yQgRvb6fPBK3DKUcv
		wU8W49RuwpeXNzSzMRBVod7VQUqnTcKLtJ53+tLZZqZ0pkJn7G7SykwSnqUQNXhKS6nOWJNJvNlQ
		fI3WSvLSpCJZPACdccqZkGHxIquzVLVzWcnZBRVbHIV86CX8dsppYEfIc9fQGdtPBVunI+Q9p5wf
		94V2i2VyXvnQOX2NygSFCPl+W/ivGb6wsBohZSfpyLnG0OL8fLn1CKnqj1POqopSYLYE8Sh5Ke/E
		Z0QGLRkY3aLApaG0/RNgAP3cYMsfTYYZAAAAAElFTkSuQmCC') no-repeat;
	}

	&.approvals {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA2CAYAAACfkiopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6NzQwQ0M2MkRFMTVCMTFFMUIwOTFDOUE0QTIxNkZCMjQiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6NzQwQ0M2MkVFMTVCMTFFMUIwOTFDOUE0QTIxNkZCMjQiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NDBDQzYyQkUxNUIxMUUxQjA5
		MUM5QTRBMjE2RkIyNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NDBDQzYyQ0UxNUIxMUUx
		QjA5MUM5QTRBMjE2RkIyNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PryDMt0AAAVMSURBVHja5FtbiE1RGN57n2M4M+eMMQwG
		kSYPLuVWHhQeKKG8SMgDRfKgJBIKEUpIUS4ReZMiKXLLi1we8OAS8eYSGTNxzswwM+aM/+fbrLa9
		117r7NsZ/vqazjlr7b2+/d/XXmN2d3cb/6Okg17ANM1ECfgpjtZXQ3+q8bGS8JbmtKQ1CPamP1nC
		IMJgPLQWQivBImQIKYxpx3edhK+ENkIzPhc9bmHhL/9exQuUjJWtk0kOJ8wnLCWMEX5eS6QP/X5i
		MpCMIiwnHCDc4ikxYY6Gxlmr0whbPa414y9eEsL9CSsIV2Mka+O4ooIbCFsk15kAHjmYe05KnGQY
		YXcChBkHsVBLQniYRLuM7YQhcMlKuB+j2pM4fPhAQqSPQEM1IO+UXoRdPtfgeZOgYZt0RmrqJBzA
		1iVE+jChjlCLxTplns/8bYQRMP+fgVgauwTSHJGnJ6jpesEfneJngVMIEwl9nSbtBTGd8VOarRhU
		8khTYi3AZtWFFFQUUpTl+JwSvrdNdz+hgtBBKDiC1x24n5f0Qcp6ydmMc7RyAQCN9yPcU9BMrTDH
		JpAWYDm+9/s8CPd2anqWgqWwjEYNkfXTsgjTrnwo8fPNP0mi6Qkau4rGZYWFhyEdsAJR01w3nPar
		VQgjCR/Ycmhtea1CRyCewc1THpZhmr/q06oQK04TEBe9HqbvN48DWSNXg7S2zpJqXSG4ffcwqQfI
		nTmX9Bem7FQ073o78uuYtyyddXrc7JJbLgyZ+EYF0nUi6SDEVf30HQ3+GmGTtYSw12fMTJAvoDkS
		G5M1hGMlmbqPxo9JavqgMk5B0+ehZbf4ssgeF4XGVZtuC1H2HGplFXmiMGYByLW6kD4rtLOha/yU
		gsYbXOY9R1D0kouKfp0BRFnoGPctiuB2xoe4X7FxFFWabjDbgcos50Oa0REF8dMS4ss0avI6LHy4
		4njDpWFZ5DG2KzbiJJNLaEi4rr6iMK4GTYso/SXjtYir7rmlXPa2pqKB0JVnCmNOCKWsKJmw8qcV
		YNyKCPP6KnRrBY31WrEQJ3Nh4mMJN0MmzUFvIOGziuXFrnFs4zZjf4sX9DCkNe1DXx+pqBJ3iwXd
		KB0foadeSVgccD2bCEMJTWX7JoVMvQDN5+CLX/AiwRRSka7sRTQ3ykXjMrGbBjb31/BPJv9U8zpH
		sbHwuZyIpxUfQAqvi7hQ4XR3W2Mtm51dVzkQr9DYhGzBRqSJ10AvFObdh6U0lhvxPprXbYGf98Jm
		oMrOS4cRo1gRXruAtMRl5gCfsXcJb/4V4jZ5+5XxfI8xp9C6FuNcb5jBTWb27PO34MtuKUzVt4tx
		E68MeJ82+Lub1tkdPsZtoVZMLlUEQQ6SWx25u7eRhCj24w9C2mzsh9bSvi5vSFRrzG+Q9fBRbDam
		Q3rOX7AJeVnYXcknofB0zPcrwp/Z1+td+u1/Jp15pbgqIdrrSHvcxMdH8AC6EFN0RLZV/TYSjVP7
		OStkrbeVMO+e5LdrUfn4DSK/B4HJPtRn+RQXlsTXixr352NbJ33GXAiSzuYayZyBCQN1QdLZTaNn
		CmeJ2iA+XgGz6knCm5yPCe+DELffdm7sIaTz2OnJ656BsRz+bu+g8MGbDWVOmoNsX/T6+psYLrV3
		Ft0YbwXxyeVHZRjIpkFpvK1dGcpREByQSyNlcW3Npwb5hNFq7JR8j1GrnbDA6+jqRmMv7xUU1Err
		LaUe+HPcy6VgyeHp2ke8uNJqovFFx7i4HkIWLezPQwAGzsaVehzFVPjXhpyjOEmivhfvb8IS2m1X
		jaQ7E96YZI1gb0nC6ClC6+Z+CDAA12kLAwkGpw4AAAAASUVORK5CYII=') no-repeat;
	}

	&.info1 {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA2CAYAAACfkiopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6RTZEQkQ1RTNFMTVCMTFFMUE5ODhFQjU1RjAzQzBBREEiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6RTZEQkQ1RTRFMTVCMTFFMUE5ODhFQjU1RjAzQzBBREEiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFNkRCRDVFMUUxNUIxMUUxQTk4
		OEVCNTVGMDNDMEFEQSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFNkRCRDVFMkUxNUIxMUUx
		QTk4OEVCNTVGMDNDMEFEQSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuSLlkoAAARRSURBVHja7FvLaxNBGM8mTV9JH9aWWrRY
		lfqgqEg9SC8FEYvgRRAfl+JJqOhBxL9AvBSviige6kEUD4KIoEdBRakXQRCtSvEBPopIa9Oa2Ph9
		8FsZluwmO/PNZoMO/Ng02d1vfjPfa76ZOsViMfEvNuc/cd0XOE7YR5KEQcI6fH5NeEZY0pGv3X9+
		0ARlWgNhmHCPRVWIacJhQtZm/20Q51ncQ3gQgmwQjgcNQhyIM+Ehwjchwl6MlhqAahPfSHhsibAX
		u+NCfCwiwiquQcOiJw7HNVEF0i6+ENp1+68VziiEtdJlktAfg5DcSxw+WI/jRLqJLu8Jy2OUj3QS
		jxnbxKeQfEi2GYGBTBGXJSsJDLVLwnbKGdxaQh+hh3DB4F2TVpwbkhJJ0hwC05554Dh9ziTWizo3
		Um8OHb+l1wmuiuJzAQPBs//K4L31xClfyYKhknZamLTbsSYMaAF/15XQgrDtvIiNo3M24rBf2yvw
		7lZjG8ciwQbxW35zIYBxIxu3ZNtqK2Bg3yEHPyX47kbitqil6ojXxRrF1iBu5ZzbwRquLo1pZ26k
		6vNwbjXZiJsTmjiR5tXXgsV+PSLcIOQIXYSzFmS0EL+5UDbOIcGS7R0htLkOiBMO5BP8+bawrPbQ
		4QxLTmnSg2VmqC0qBxfk3AaE1W47ysgZZYZbgCxS11nCZ0GZ23RS1i7BDhwFaW5scyPwH7PAHPIF
		Nq9uQbndOsQdIeFM6jJhhZKqPvW5V7q4kdIhPiMk/BDU+YDy3fcItIzbR78f6gIemhYSfsfz91VC
		MzTB24aFib8JnbJSW2UpnG0K2G6SltWn49ULlhKXrz7fr7Eg65eOjecsdOS+j4pz22VB3oKOqict
		bBgMQaVLTYC0mt/l92oVIpB0SHZmdUC8lSY+ZLIsnRJUu7mAEDliQc1fatfckFZeEZqBsYT/Prd7
		D9vkfsIWwgsDWdfZpLRrbkg8OoSI7/Cx73ZPAZLvGTWU1YElqdmGgmGR34XfgiGL3zMYaNOq7kWR
		nRSou0SJeUOAxW0mLENNfdZQThaFxoSJc+ObFpAInDB0NsfKJDX1kJM1kHGS8BN9NttQcDcVcM0b
		zsZECTvvl8oX1L6KHQxwHKcRS9X5mNYWm0G+ojphMsSLU5jxgRiSXo++pSp9INTBAJr1Osw6e+gn
		MSHN2eVzzHbBCnFlAJoQfz9VmTSnuj8Ct4qkiPN+Gh+5YPJ0zVVp04FT3044spzbp7C7DVpHvZQj
		X9zGE9HtiZ2BTHcfvSHqc25JxTlyJ3osbAiouElYqRBOBi07ozjZmPZECD7b8lCQMJ987vPISJto
		rORZ1oxiPWmllLQTBQGdQwNceOwtEXYzpqaqfbLR4+y8SYSa4LhpaAcGws3H9ylFiWkQzcNpvWVP
		jfvyAe/+S1yr3xb+QyEJp5cLSJqWKvjObRwxFv1+jxPxhEft0ygwVBpu3H21vGfGE5LE/wgwAO5F
		Em0AATH4AAAAAElFTkSuQmCC') no-repeat;
	}

	&.filter {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6NjQ0OTJDRDRFMkREMTFFMUEyRTFFNEJGOTE0RjM2REQiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6NjQ0OTJDRDVFMkREMTFFMUEyRTFFNEJGOTE0RjM2REQiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2NDQ5MkNEMkUyREQxMUUxQTJF
		MUU0QkY5MTRGMzZERCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2NDQ5MkNEM0UyREQxMUUx
		QTJFMUU0QkY5MTRGMzZERCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ps86+LUAAAGeSURBVHjaYmCgD+DBJfH//384ZoSK5QCx
		LgmGqwAxP5FqC4D4CBI/CIir8Ln6M8iRNMKZWOw8hk0tE5D4DsQvaBhFEljErmFTCHLMXyCOpaFj
		lmAR48TlGBA4AcSraOCQuUB8G4s4GzbFjEhsXiB+g0shGQAU9YpA/AOLnAcQyxEyIJyKCdeeGBcj
		Z21sIXWSCg7pJTb48DkGBNSB+A8FDrlESlRjK/TQQTsQV5CRTkDFhAlS1lUG4pVY1Gmh5aiz+AwF
		+ewMGaGSg2aOLon6cQJQdH0jwaDtWMygmmNgdRYxhrwCYlFaO4YB6mNChnjjqVDPIOEnlDpGAupz
		XAZMpqRkJJS1sQE/HA65iqueoaVjQGAmmkN+ArEBpXUGuY4BtXtuIDmmiBoVGLmOAQEzaIjspVa1
		TkwJjA+AQmQZlgbZVCBmYaAjUMZTG3+gQgVLNfCEUscwUdExvyg1gJGKjtGCVgnqZOjjpLZjyM5N
		6A3yQQEGlWNA5YIxmXpBXZBP1HQMI7XzNxHN0muDxTFDJ82MOgZfmjEeLI4BCDAAgM5TjG7lLaYA
		AAAASUVORK5CYII=') no-repeat;
	}

	&.refresh {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6QkNBNzVFODRFMkUwMTFFMTk2M0VEMjczN0JDNzc0QTIiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6QkNBNzVFODVFMkUwMTFFMTk2M0VEMjczN0JDNzc0QTIiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCQ0E3NUU4MkUyRTAxMUUxOTYz
		RUQyNzM3QkM3NzRBMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCQ0E3NUU4M0UyRTAxMUUx
		OTYzRUQyNzM3QkM3NzRBMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pq3D1xgAAAIjSURBVHjazJjNR0RRFMDvTDU8YojRMERE
		zKplmUUMpdEq0qqIWcVQWs22RSSiNi37B6LdGEr0waRMJjGLPrYZIkppkcl0nk55nnfuPffda+rw
		82Zx372/dz/PHdFqtYQJECXgERgWIcJbV1SYh2uUAA6ArElFNmTe8NkNlIGpv5T59PyOAbvAvDAd
		M+YcGQI2gAYOEcWibvtcAQcoAnWFgJ8VqzIQ/cC1poSXbSsyEGPAk4GIyz72bHgZHJamociRTIQl
		AzFpKMESUcrg8rxTdPsIMIDlVwPKnHJEODJFQuIdWA4oP+MrV8ENUBjJQKSAV0JmkhjSOZ9IXGOb
		i8nOplniq0pQuERU2IXPCyAHvGjIJGTHQSbghQ9gSfZ1wCUwriniRi89Zt/zwj88NcVeNAr0MBrO
		BEyBpreuzoCv9MeNopFjZi/kVBObc2rfCzuhXGEcmQdLMikbMo4lmT5dmZ0wX8SMpK7MiWovaKdM
		0GTNRiKRmKFIglipUplbYpgKhjL5UDkwkdu6CVac2PQ4q4g679ZUp/Y68WLZf7AxZBxMOYLqO/fX
		R+UzVa6QQuSQqOcZc2tWpjco6doKXtQcQiaJ1xRZEj+tmwPnFWmlK7uH3V1Faox0dCHs7WDTQi4s
		vdjp3psKFm4JdUzyrdwoJyRzSEYDh6WDs7VEmHuFgF04jfPIndzpn9VAnPJXwBmw5fmXgpT5bYMr
		046Iin8UXwIMANPco6NdK6nBAAAAAElFTkSuQmCC') no-repeat;
	}
	&.settings1 {
		-webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
		bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
		bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
		eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
		MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
		dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
		dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
		IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
		ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
		cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
		SUQ9InhtcC5paWQ6NzRDREIwQkRFN0EzMTFFMUFGMkRGQjhBQUNFMzE1MTkiIHhtcE1NOkRvY3Vt
		ZW50SUQ9InhtcC5kaWQ6NzRDREIwQkVFN0EzMTFFMUFGMkRGQjhBQUNFMzE1MTkiPiA8eG1wTU06
		RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NENEQjBCQkU3QTMxMUUxQUYy
		REZCOEFBQ0UzMTUxOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NENEQjBCQ0U3QTMxMUUx
		QUYyREZCOEFBQ0UzMTUxOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
		bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoNW2zcAAAEUSURBVHjaYvz//z8DNQETA5UBI5HqDkBp
		B3QJYn24AYpBIB2kD4rT0eVBBiJjbKAHyYAdQHwciX8cKgbj96AbyILFwNtIbHc0OQs8ajEi5QCS
		l4iPBEbGdCA+gC6egOQNcnECspf58TjiARAvhLLjgVgBhzoMM3ZgsXU+Fo3zsajbgR7L6WixCcLP
		8bj6OZpakN50mIENOMJkBx4Dd+DQ04Av63GQKQcG4Vi8/B6P+vdYvByOnlOweeM8FsPOExMp+NLh
		e2iiP4DFZTjTIT4gAMT25BRloNg2AOIUEnJHClRPA77SxoAEAw3QSxtsySYAiV0IxBOQ+BOgYtjU
		4gUJUIzuYgN0eXQXMpIQvsg0zioAIMAAyafjY46AXVwAAAAASUVORK5CYII=') no-repeat;
	}
}