.springboard {
	.my-dataview {
		padding: 0.4em 0.8em;
		text-align: center;
		.my-dataview-item {
			position: relative;
			display: block;
			width: 96px;
			text-align: center;
			height: 5.4em;
			float: left;
			color: #FFF;
			div {
			position: relative;
			width: 57px;
			display: inline-block;
			}

			img {
				display: inline-block;
				width: 100%;
				border-radius: 12px;
				overflow: hidden;
				box-shadow: 0px 3px 5px #222;
			}
			.name {
				word-break: break-word;
				font-size: 0.6em;
				display: inline-block;
				line-height: 1.2em;
				height: 2.4em;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
			}
			.badging {
				position: absolute;
				top: -0.5em;
				right: -0.7em;
				display: block;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#D47281), color-stop(50%,#cf0404));
				color: white;
				width: 1.7em;
				height: 1.7em;
				border-radius: 1em;
				text-align: center;
				font-size: 0.7em;
				line-height: 1.5em;
				border: 2px solid white;
				font-weight: bold;
				box-shadow: 0px 0px 5px black;
			}
			
		}
	}
	
}

@media screen and (orientation:landscape) {
	.springboard {
		.my-dataview {
			.my-dataview-item {
				width: 113px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px) 
and (orientation : portrait) {
	.springboard {
		.my-dataview {
			padding: 2em 0.8em;
			.my-dataview-item {
				width: 192px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px) 
and (orientation : landscape) {
	.springboard {
		.my-dataview {
			padding: 2em 0.8em;
			.my-dataview-item {
				width: 234px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.springboard {
		.my-dataview {
			padding: 2em 0.8em;
			.my-dataview-item {
				width: 117px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.springboard {
		.my-dataview {
			.my-dataview-item {
				width: 106px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 1536px) 
and (max-device-width : 2048px) 
and (orientation : landscape) {
	.springboard {
		.my-dataview {
			.my-dataview-item {
				width: 234px;
			}
		}
	}
}