$base-color: #f9c927;
$base-gradient: matte;
$base-font-size: 0.8em;
$main-font-color: #487290;
$second-font-color: rgba(251,183, 0, 1);

$logo-color: $second-font-color;

$header-font-color: $second-font-color;
$header-padding: 0.4em 1.02em;
$header-font-size: 0.6em;

$page-bg-color: url("../images/bg-pattern.png") repeat;
$toolbar-base-color: #464646;
$toolbar-font-color: #ffc516;

$cont-radius: 0px;
$cont-border-color: #ededed;
$cont-padding: 0px;

$list-bg-color: #FFF;
$list-active-color: $base-color;
$list-active-gradient: $base-gradient;
$list-color: $main-font-color;

$form-fieldset-radius: $cont-radius;
$form-label-background-color: #f7f7f7;
$form-dark: $main-font-color;
$form-light: #cdcdcd;
$form-bg-color: #CCC;
$form-field-bg-color: #CCC; 

$details-form-radius: 6px;

$tab-bg-color: $base-color;
$tab-icon-color: #FFF;
$tab-color: #FFF;

$action-button-background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(0, 120, 206, 1)), color-stop(86%,rgba(2, 76, 137, 1)));

$tabbar-background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(99, 99, 99, 1)), color-stop(86%,rgba(52, 52, 52, 1)));

$toolbar-background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(56, 56, 56, 1)), color-stop(86%,rgba(0, 0, 0, 1)));

@import 'base'